{
  "env": {
    "browser": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "extends": ["airbnb", "plugin:flowtype/recommended"],
  "plugins": ["flowtype"],
  "rules": {
    "comma-dangle": "off",
    "react/sort-comp": "off",
    "jsx-a11y/href-no-hash": "off",
    "flowtype/define-flow-type": "warn",
    "flowtype/use-flow-type": "warn"
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  }
}
